
/*--------------------*/
/* ------Адаптив------*/
/*--------------------*/

@media screen and (max-width:1730px) {
    .card-list{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,1fr);
    }
}
/*60 и 106*/
@media screen and (max-width:1400px){
    .card-list{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(6,1fr);
    }
}


@media screen and (max-width:1180px) {
    .card-list{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,1fr);
    }
}


@media screen and (max-width:1000px) and (min-width:831px) {
    .book-card{
        left:20px;
        width:220px;
        height: 686px;
    }
    .img-book{
        width:180px;
        height: 282px;
    }
}

@media screen and (max-width:830px){
    .card-list{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(6,1fr);
    }
}


@media screen and (max-width:730px) {
    .book-card{
        width:244px;
        height: 736px;
    }
    .img-book{
        left:20px;
        width:204px;
        height:320px;
    }
    .card-list .book-card .book-info {
        top:unset;
        bottom:200px;
        width:220px;
    }
}

@media screen and (max-width:610px) {
    .card-list{
        gap:20px;
    }
    .book-card{
        width:220px;
        height: 686px;
    }
    .img-book{
        width:180px;
        height: 282px;
    }
}
@media screen and (max-width:540px) {
    .book-card{
        width:calc(220px * 0.9);
        height:calc(686px * 0.9);
    }
    .book-card .like{
        top:16px;
        right: 16px;
    }
    .img-book{
        width:calc(180px * 0.9);
        height: calc(282px * 0.9);
    }
    .card-list .book-card .book-info {
        bottom:192px;
        width:150px;
    }
    .book-card .price{
        bottom: 287px;
    }
    .book-info .name{
        font-size: 18px;
    }
 
    .book-info .author,
    .book-info .publ{
        font-size: 14px;
    }
    .price .text{
        font-size: 20px;
    }
    .add-to-basket{
        width:calc(180px * 0.9);
    }
    .add-to-basket .text{
        font-size: 16px;
    }
    .add-to-basket img{
        width: 14px;
    }
}

@media screen and (max-width:480px) {

    .book-info .name{
        font-size: 16px;
    }
    .book-info .author,
    .book-info .publ{
        font-size: 14px;
    }
    .price{
        gap:3px;
    }
    .price .text{
        font-size: 16px;
    }
    .price img{
        width: 14px;
        height: 14px;
    }
    .available .text{
        font-size: 14px;
    }
    .available img{
        width: 14px;
    }
    .add-to-basket .text{
        font-size: 14px;
    }
    .add-to-basket img{
        width: 14px;
    }
}



@media screen and (max-width:400px) {
    .big-cover{
        max-width: 380px;
        min-width: 300px;
    }
    .big-cover .main-text .title{
        font-size: 28px;
    }
    .main-text .article{
        position: absolute;
        visibility: hidden;
        width:0px;
    }
    .books{
        padding: 0px;
    }
    .books .card-list{
        gap:10px;
    }
    .book-card{
        width:calc(220px * 0.8);
        height:calc(686px * 0.8);
    }
    .book-card .like{
        top:16px;
        right: 12px;
    }
    .img-book{
        width:calc(180px * 0.8);
        height: calc(282px * 0.8);
    }
    .card-list .book-card .book-info {
        bottom:162px;
        width:140px;
    }
    .book-card .price{
        bottom: 247px;
    }
    .book-info .name{
        font-size: 14px;
    }
    .book-info .author,
    .book-info .publ{
        font-size: 12px;
    }
    .price{
        gap:3px;
    }
    .price .text{
        font-size: 16px;
    }
    .price img{
        width: 14px;
        height: 14px;
    }
    .available{
        bottom: 130px;
    }
    .available .text{
        font-size: 14px;
    }
    .available img{
        width: 14px;
    }
    .add-to-basket{
        width:144px;
    }
    .add-to-basket .text{
        font-size: 14px;
    }
    .add-to-basket img{
        width: 14px;
    }


    .cover-2 .text-cover-2 .article{
        font-size: 14px;
    }
    .cover-2{
        height: auto;
    }
}
