
/*--------------------*/
/* ------Адаптив------*/
/*--------------------*/
@media screen and ((max-width: 1730px)) {
  .covers{
    display: flex;
    padding: 0px 100px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height:450px;
    gap: 36px;
    align-self: stretch;
    flex-wrap: nowrap;
    transform: scale(0.88);
    transform-origin: top;
    height: 443px;
  }
  .big-cover{
    height: 500px;
    min-width: 1040px;
    max-width: 1116px;

  }
  .covers-list-2{
    max-width: 800px;
    min-width: 420px;
  }
  .small-cover{
    max-width:450px;
  }
  .books .wrapper{
    width: 1368px;
  }
  .card-list{
    transform-origin: top;
    display: flex;
    transform: scale(0.9);
  }
  .cover-2{
    padding: 0px 100px;
  }
  .text-cover-2{
    max-width: 1180px;
    min-width: 600px;
}
}


@media screen and ((max-width: 1540px)) {
   .covers{
    display: flex;
    padding: 0px 100px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 36px;
    align-self: stretch;
    flex-wrap: wrap;
    transform: scale(0.88);
    transform-origin: top;
    height: 693px;
  }
  .big-cover{
    max-width: 1200px;
    min-width: 1000px;
  }
  .covers-list-2{
    max-width: 1200px;
    min-width: 900px;
  }
  .small-cover{
    max-width:540px;
    min-width: 450px;
  }
  .books .wrapper{
    width: 1340px;
  }


.cover-2{
  padding: 0px 100px;
}
  .cover-2 img{
    scale:calc(0.75);
  }
  .text-cover-2{
    min-width: 500px;
  }
  .text-cover-2 .title{
    font-size: 36PX;
  }
  .text-cover-2 .text{
    font-size: 18px;
  }

}

@media screen and ((max-width: 1380px)) {
    .covers{
    display: flex;
    padding: 0px 100px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 36px;
    align-self: stretch;
    flex-wrap: wrap;
    transform: scale(0.88);
    transform-origin: top;
    height: 693px;
  }
  .big-cover{
    max-width: 1200px;
    min-width: 1000px;
  }
  .covers-list-2{
    max-width: 1200px;
    min-width: 900px;
  }
  .small-cover{
    max-width:540px;
    min-width: 450px;
  }
  .card-list{
    transform-origin: top;
    display: flex;
    transform: scale(1);
    gap:10px
  }
  .books .wrapper{
    width: 1210px;
  }
  .cover-2{
    padding: 0px 100px;
  }

  .text-cover-2{
    max-width: 1180px;
    min-width: 600px;
}


.author-categories{
  scale:calc(0.8);
  transform-origin: top;
  min-height: 10px;
}

.slider{
  max-height: 370px;
}
.bonus-program{
  gap:60px;
  align-items: flex-start;
  min-height: 383px;
}
.cover-bonus{
  padding: 15px 40px 15px 100px;
}

.cover-bonus .article{
  max-width: 760px;
  display: flex;
  font-size: 20px;
}
.cover-2 {
  min-height: 300px;
}
.cover-2 img{
  scale:calc(0.75);
}
.text-cover-2{
  min-width: 500px;
}
.text-cover-2 .title{
  font-size: 36PX;
}
.text-cover-2 .text{
  font-size: 18px;
}
}

@media screen and ((max-width: 1200px)) {
  .covers{
    display: flex;
    padding: 0px 40px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 36px;
    align-self: stretch;
    flex-wrap: wrap;
    transform: scale(0.7);
    transform-origin: top;
    height: 535px;
  }
  .big-cover{
    max-width: 1400px;
    min-width: 1200px;
  }
  .covers-list-2{
    min-width: 1000px;
    max-width: 2000px;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .small-cover{
    max-width:600px;
    min-width: 580px;
  }

}

@media screen and (max-width: 940px) {
  
  .author-categories{
    scale:calc(0.8);
    transform-origin: top;
  }
  .popular-authors{
    min-height: 10px;
    max-height: 600px;
    padding: 0 60px;
  }
  .slider .categories{
    display: flex;
    min-height: 10px;
    max-height: 360px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 40px;
    align-self: stretch;
    flex-wrap: nowrap;
  }
  .author-2, .fantastic{
    position: absolute;
    visibility: hidden;
  }

  .cover-2{
    padding: 0px 60px;
  }
  .cover-2 img{
    scale:calc(0.75);
  }
  .text-cover-2{
    min-width: 500px;
  }
  .text-cover-2 .title{
    font-size: 36PX;
  }
  .text-cover-2 .text{
    font-size: 18px;
  }

  .cover-2{
    padding: 0px 60px;
  }
  .cover-2{
    flex-direction: column-reverse;
  }
  .cover-2 img{
    scale:calc(0.75);
    flex-shrink: 0;
  }
  .text-cover-2{
    min-width: 300px;
    max-width: 900px;
  }
  .text-cover-2 .title{
    font-size: 36PX;
  }
  .text-cover-2 .text{
    font-size: 18px;
  }

}


@media screen and ((max-width: 760px)) {

  .covers{
    display: flex;
    padding: 0px 40px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 36px;
    align-self: stretch;
    flex-wrap: wrap;
    transform: scale(0.7);
    transform-origin: top;
    height: 535px;
  }
  .big-cover{
    max-width: 1400px;
    min-width: 1200px;
  }
  .covers-list-2{
    min-width: 1000px;
    max-width: 2000px;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .small-cover{
    max-width:600px;
    min-width: 580px;
  }



  .cover-2{
    padding: 0px 40px;
  }
  .cover-2 img{
    scale:calc(0.75);
  }
  .text-cover-2{
    min-width: 200px;
  }
  .text-cover-2 .title{
    font-size: 36PX;
  }
  .text-cover-2 .text{
    font-size: 18px;
  }

  .cover-2{
    flex-direction: column-reverse;
  }
  .cover-2 img{
    scale:calc(0.75);
    flex-shrink: 0;
  }
  .text-cover-2{
    min-width: 300px;
    max-width: 900px;
  }
  .text-cover-2 .title{
    font-size: 28PX;
  }
  .text-cover-2 .text{
    font-size: 14px;
  }

}





@media screen and ((max-width: 480px)) {
  .covers{
    display: flex;
    padding: 0px 40px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 36px;
    align-self: stretch;
    flex-wrap: wrap;
    transform: scale(0.7);
    transform-origin: top;
    height: 535px;
  }
  .big-cover{
    max-width: 1400px;
    min-width: 1200px;
  }
  .covers-list-2{
    min-width: 1000px;
    max-width: 2000px;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .small-cover{
    max-width:600px;
    min-width: 580px;
  }


  .cover-2{
    padding: 0px 40px;
    flex-direction: column-reverse;
  }
  .cover-2 img{
    scale:calc(0.9);
    flex-shrink: 0;
  }
  .text-cover-2{
    min-width: 100px;
    max-width: 900px;
  }
  .text-cover-2 .title{
    font-size: 24PX;
  }
  .cover-2 .text-cover-2 .aticle{
    font-size: 14px;
}

}

@media screen and (max-width:400px) {
.body{
  gap:20px;
}
.covers{
  transform: scale(1);
}
.big-cover, .covers-list-2{
  width:0%;
  height: 0%;
  position: absolute;
  visibility: hidden;
}
.cover-png-1, .cover-png-2, .cover-png-3{
  position: relative;
  visibility: visible;
}
.spiral-body-5 {
  visibility: hidden;
  left:0px;
}

.spiral-body-4 {
  visibility: hidden;
  left:0px;
}

.spiral-body-3 {
  visibility: hidden;
  left:0px;
}

.spiral-body-2 {
  visibility: hidden;
  left:0px;
}

.spiral-body-1 {
  visibility: hidden;
  left:0px;
}
.books .wrapper{
  width: 310px;
}
.books .wrapper .title-text{
font-size: 24px;
}

.card-list .book-5{
  position: absolute;
  visibility: hidden;
  left:0px;
}
.card-list .book-4{
  position: absolute;
  visibility: hidden;
  left:0px;
}
.card-list .book-3{
  position: absolute;
  visibility: hidden;
  left:0px;
}

}