/* ------------Стили для сайта--------------*/

/*================= Стили 404 =================*/

.error-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.digits{
    color: var(--primary-color, #2CA54E);
    font-family: 'TTTravels';
    font-size: 200px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
}

.error-block .text{
    color: var(--primary-color, #2CA54E);
    font-family: 'TTTravels';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}